body {
    padding: 0;
    font-size: 18px;
}

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 97px;
}

.header__links-list {
    display: flex;
    gap: 33px;
    padding: 0;
    margin: 0;
}

.header__link {
    text-decoration-thickness: 1.5px;
    text-underline-offset: 4px;
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item_no-circle {
    list-style: none;
}

.address__link {
    text-decoration-thickness: 1.5px;
    text-underline-offset: 4px;
}

.header__link_active {
    border-bottom: none;
    list-style: none;
}

.header__logo {
    display: block;
    height: 104px;
    width: 137px;
}

.address {
    display: flex;
    font-style: normal;
    max-width: 240px;
    justify-self: end;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.35;
}

.cover {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 757px;
    background-image: url('../images/cover.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 156px 50px 48px;
}

.overlay {
    position: absolute;
    inset: 0 0;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    z-index: 0;
}
 
.cover__title {
    position: relative;
    z-index: 1;
    font-weight: 700;
    font-size: 100px;
    letter-spacing: 0.3em;
    margin-right: -0.3em;
    color: white;
    line-height: 1.35;
}

.aligned-text {
    display: block;
    text-transform: uppercase;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.description {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    gap: 107px;
}

.cover__description-text {
    word-spacing: 0.84em;
}

.bet-button {
    background-color: transparent;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    padding: 12px 31px;
    cursor: pointer;
}

.lots {
    padding: 180px 24px 155px;
}

.lots__heading {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    padding-left: 40px;
    margin-bottom: 27px;
}

.lots__card-list-item {
    min-height: 596px;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.lots__card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    list-style: none;
    margin-bottom: 30px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 48px 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card_type_film {
    background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
    background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
    background-image: url('../images/card-lot-03.jpg');
}

.card__title {
    position: relative;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 3px;
    color: white;
    align-self: start;
    z-index: 1;
}

.card__text {
    position: relative;
    z-index: 1;
    font-size: 20px;
    color: white;
    line-height: 1.2;
}

.lots__look-more-link {
    font-size: 20px;
    margin-left: 40px;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 5px;
}

.about {
    padding: 0 24px;
}

.about__column {
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-items: start;
    gap: 0 13px;
}

.about__logo {
    display: flex;
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-left: 47px;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    justify-self: start;
    padding-top: 102px;
}

.about__text {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    font-size: 20px;
    justify-self: start;
    align-self: start;
    line-height: 1.2;
    white-space: pre-line;
    padding-top: 76px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 180px 50px 80px;
}

.footer .address {
    justify-self: start;
}

.footer__menu {
    align-self: start;
    justify-self: center;
}

.footer__menu-list {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.footer__menu-list-item {
    font-size: 18px;
    list-style: none;
}

.footer__menu-link {
    text-decoration-thickness: 1.5px;
    text-underline-offset: 4px;
}

.footer__menu-link_active {
    border-bottom: none;
    list-style: none;
}

.footer__social-list {
    justify-self: end;
    display: flex;
    gap: 48px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}