body {
    font-family: "Raleway", sans-serif;
    font-weight: normal;
}

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    height: 293px;
    width: 1100px;
    align-items: center;
    padding: 95px 50px;
    font-size: 18px;
}

.header__links-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.header__links-list-item {
    list-style: circle; 
}

/* Стили для ссылок */
.header__link {
    text-decoration: none;
    border-bottom: 1px solid currentColor;  
}

/* Активная ссылка без подчеркивания и без кружочка */
.header__link_active {
    border-bottom: none;
    list-style: none
}


.header__logo {
    display: block;
    height: 105px;
    width: 148px;
}

.address {
    display: flex;
    font-style: normal;
    max-width: 240px;
    justify-self: end;
    flex-direction: column;
    align-items: flex-start;
}
   
/* место для вашего кода */
